@font-face {font-family: "iconfont";
  src: 
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABlQAAAI8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApccAE2AiQDCAsGAAQgBYRtBzMbmQURBUzJfhzkpql74AtxFH1tq7LGfw/icb9sXpK/XWJVJIUEqrYsEYTpoTEnzAmFCkih3gQIgPPtN0VjVIRhSs6D7/KMF9Zflx86ztfpKlUhK2R9nsvpTaADuas+UC5jDBpr0qQB1IsDCnQPjCLrhDJuGLvAJTyHAE4S5ZOmlq4h7BisdQLI1vrqPPZcDINhRTuCreaoQa6wsKtj9RZchuLLLwXZQWFprLa+leYl6r6W2GX6MHZoyieIg4BOW4AG8oEBGarN9aARxmmcOUMq9tUs8LUkFvO9yF5dCPvrrEY3APFQfU8aV3urRQVwW+o+o0mjtoDE77j10cPJHcrt8Yf3Lo/iTx9FexRVIhb9vqusdLwOvnYEfuqwfqaX1GcCCDwlVIzP+qr+210GgHevi16FTkO/ANj35Rf4J5qeQ0bXWR5lVE3tpCL+XB1OnEAMDgV9GmuP3EBJsBMZEYgjIYXGTjpp2HxYuCiCDTu1cJKn9bSLkG00YhzAlesNIPw+ULzeQPP7kob9wRL1h40/DaeRQle6ZLaeNgp6xUTDi9bRO3Z8mkbNJ8yH6SWrC/kbJK5JqvKyWOzgIHPsiPe5VmVi8ZZa8BqM8RTEbxg1X1RDUxRc96F89DZJNRLQUzAhgxeyGnkO+9NVWvr+CcwORk9aBmryNyCidX5SyZU9yM7seg3cyzvR3aymFCNMeBZpwSIwDI+E+kUbGKncMiITNAp7HPc15+tb7dedAZwsh8reo3FsjpiZ1SFJAAAA') format('woff2')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus-line:before {
  content: "\e636";
}